/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custom Style */
.container {
  text-align: center;
}
body {
  background-color: #f1deb8;
  font-family: popins, sans-serif;
}
h2 {
  background-color: black;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.user {
  width: 8rem;
  height: 8rem;
  margin: 2rem 0;
  border-radius: 50%;
}
input {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
h3 {
  font-size: 3rem;
  font-weight: 600;
}
.social {
  font-size: 1.4rem;
  font-weight: 600;
}
.following-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.followers-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.social-container {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-top: 2rem;
}
.followers {
  display: flex;
}
.following {
  display: flex;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 2rem;
  margin: 2rem 0;
}
.random-img {
  width: 30rem;
  height: 30rem;
}
.btn {
  background-color: aquamarine;
  color: black;
  padding: 0.8rem 2rem;
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}
